@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

* {
  margin: 0;
  padding: 0;
  background-color: #000;
  text-align: center;
  font-family: 'Chelsea Market', cursive, sans-serif;
  color: #CC1013;
}

/*Header*/
header {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 90px;
  font-family: 'Chelsea Market', cursive, sans-serif;
  color: #FF0000;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #FF0000;
  border-bottom: 1px solid #FF0000;
  margin: 0 auto;
  font-size: 14px;
}

header nav span {
  padding: 0 5% 0 5%;
}

header nav span a {
  display: block;
  color: #CC1013;
  text-decoration: none;
}

header nav span button {
  font-size: 14px;
  border: none;
}

header nav span a:hover, 
header nav span button:hover {
  color: #FF0000;
  cursor: pointer;
}

header nav span a:active {
  color: #FF0000;
}

.header .dropdown {
  position: relative;
  display: inline-block;
}

.header .dropdown .dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid #FF0000;
  padding: 0 5px 0 5px;
  z-index: 1;
}

.header .dropdown:hover .dropdown-content {
  width: 100%;
  display: block;
}

header .dropdown:hover .dropdown-content a{
  text-align: center;
}

/*main*/

.photo1 {
  border-bottom: 1px solid #FF0000;
  border-left: 1px solid #FF0000;
  border-right: 1px solid #FF0000;
}

/* sessions page */

.sessions h2 {
  font-size: 65px;
}

.sessions-left {
  margin-top: 5vw;
  display: flex;
  width: 50%;
  float: left;
  flex-direction: column;
}

.sessions-left h3 {
  padding: 1vw 0 1vw 0;
}

.sessions-left h3 #white {
  color: #FFF;
}

.photos {
  display: relative;
  width: 50%;
  float: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.photos .slides {
  width: 400px;
  border: 1px solid #FF0000;
}

/*Cyphers page*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/*make id tags for footer elements*/
